---
title: "kcp"
linkTitle: "kcp"

---

{{< blocks/cover title="Welcome to kcp" image_anchor="top" height="min" color="blue">}}
    <div class="mx-auto">
        <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref " /docs" >}}">
            Get Started <i class="fa-solid fa-circle-right ml-2"></i></a>
        <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kcp-dev/kcp">
            GitHub <i class="fab fa-github ml-2"></i></a>
        <p class="lead mb-5">
            kcp is a Kubernetes-like multi-tenant control plane.
        </p>
    </div>
{{< /blocks/cover>}}

{{% blocks/lead color="green" %}}
kcp is a Kubernetes-like control plane focusing on:
    <ul>
        <li>A control plane for many independent, isolated “clusters” known as workspaces
        </li>
        <li>Enabling API service providers to offer APIs centrally using multi-tenant operators
        </li>
        <li>Easy API consumption for users in their workspaces
        </li>
        <li>Flexible scheduling of workloads to physical clusters
        </li>
        <li>Transparent movement of workloads among compatible physical clusters
        </li>
        <li>Advanced deployment strategies for scenarios such as affinity/anti-affinity, geographic replication,
            cross-cloud replication, etc.</li>
        </ul>
    kcp can be a building block for SaaS service providers who need a massively multi-tenant platform to offer
    services to a large number of fully isolated tenants using Kubernetes-native APIs. The goal is to be useful
    to cloud providers as well as enterprise IT departments offering APIs within their company.
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="Get Started" url="/docs/start/" %}}
Learn how to get started with kcp.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contribute" url="https://github.com/kcp-dev/kcp" %}}
Contribute to kcp on GitHub.
{{% /blocks/feature %}}
{{< /blocks/section >}}
